In [1]:
import os
import pandas as pd

In [16]:
csv_path = "../Resources/purchase_data.csv"
purchase_df = pd.read_csv(csv_path)

copy_df = purchase_df

purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
players = purchase_df['SN'].value_counts()
u_players = players.count()
print("Total number of players: ", u_players)

Total number of players:  576

In [4]:
### Purchasing Analysis (Total)

items = purchase_df['Item ID'].value_counts()
u_items = items.count()
print("Number of unique items: ", u_items)


purchase_df["Item Name"].unique()

# Average Purchase Price

average_purchase = purchase_df['Price'].mean()
print("Average Purchase: $", average_purchase)

# Total Number of Purchases
number_of_purchases = purchase_df['Purchase ID'].count()
print("Total Number of Purchases: ", number_of_purchases)

total_rev = purchase_df['Price'].sum()
print("Total revenue: $", total_rev)

Number of unique items:  183
Average Purchase: $ 3.050987179487176
Total Number of Purchases:  780
Total revenue: $ 2379.77

In [5]:
### Gender Demographics

gender_counts = purchase_df['Gender'].value_counts()
print(gender_counts)


print((purchase_df['Gender'].value_counts()/purchase_df['Gender'].count())*100)
# female_p
# other_p

# Percentage and Count of Male Players
# Percentage and Count of Female Players
# Percentage and Count of Other / Non-Disclosed

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64
Male                     83.589744
Female                   14.487179
Other / Non-Disclosed     1.923077
Name: Gender, dtype: float64

In [10]:
### Purchasing Analysis (Gender)

# The below each broken by gender
 # Purchase Count
 # Average Purchase Price
 # Total Purchase Value
 # Average Purchase Total per Person by Gender
print('Analysis of male purchases...')
male_df = purchase_df.loc[purchase_df["Gender"] == "Male"]
number_of_male_purchases = male_df['Purchase ID'].count()
print("Total Number of Purchases: ", number_of_male_purchases)
average_male_purchase = male_df['Price'].mean()
print("Average Purchase: $", average_male_purchase)
total_male_rev = male_df['Price'].sum()
print("Total revenue: $", total_male_rev)
print('---')

print('Analysis of female purchases...')
female_df = purchase_df.loc[purchase_df["Gender"] == "Female"]
number_of_female_purchases = female_df['Purchase ID'].count()
print("Total Number of Purchases: ", number_of_female_purchases)
average_female_purchase = female_df['Price'].mean()
print("Average Purchase: $", average_female_purchase)
total_female_rev = female_df['Price'].sum()
print("Total revenue: $", total_female_rev)
print('---')

print('Analysis of Non-Disclosed purchases...')
other_df = purchase_df.loc[purchase_df["Gender"] == "Other / Non-Disclosed"]
number_of_other_purchases = other_df['Purchase ID'].count()
print("Total Number of Purchases: ", number_of_other_purchases)
average_other_purchase = other_df['Price'].mean()
print("Average Purchase: $", average_other_purchase)
total_other_rev = other_df['Price'].sum()
print("Total revenue: $", total_other_rev)

Analysis of male purchases...
Total Number of Purchases:  652
Average Purchase: $ 3.0178527607361953
Total revenue: $ 1967.64
---
Analysis of female purchases...
Total Number of Purchases:  113
Average Purchase: $ 3.203008849557519
Total revenue: $ 361.94
---
Analysis of Non-Disclosed purchases...
Total Number of Purchases:  15
Average Purchase: $ 3.3460000000000005
Total revenue: $ 50.19

In [24]:
### Age Demographics

# * The below each broken into bins of 4 years (i.e. &lt;10, 10-14, 15-19, etc.)
#  * Purchase Count
#  * Average Purchase Price
#  * Total Purchase Value
#  * Average Purchase Total per Person by Age Group

bins = [0, 10, 14, 19, 24, 29, 34, 39, 44, 49, 250]
group_labels = ["0 to 10", "10 to 14", "15 to 19", "20 to 24", "25 to 29",
                "30 to 34", "35 to 39", "40 to 44", "45 to 49", "50 and up"]

copy_df["Age Group"] = pd.cut(copy_df["Age"], bins, labels=group_labels)
copy_df.head()

purchase_group = copy_df.groupby("View Group")
print('Number of purchases: ', purchase_group["Purchase ID"].count())
print('Sum per age group: ', purchase_group["Price"].sum())
print('Average purchase price: ', purchase_group["Price"].mean())

# print(purchase_group["Purchase ID"].count())

# # Get the average of each column within the GroupBy object
# print(purchase_group["Price"].mean())

Number of purchases:  View Group
0 to 10       32
10 to 14      19
15 to 19     136
20 to 24     365
25 to 29     101
30 to 34      73
35 to 39      41
40 to 44      12
45 to 49       1
50 and up      0
Name: Purchase ID, dtype: int64
Sum per age group:  View Group
0 to 10       108.96
10 to 14       50.95
15 to 19      412.89
20 to 24     1114.06
25 to 29      293.00
30 to 34      214.00
35 to 39      147.67
40 to 44       36.54
45 to 49        1.70
50 and up       0.00
Name: Price, dtype: float64
Average purchase price:  View Group
0 to 10      3.405000
10 to 14     2.681579
15 to 19     3.035956
20 to 24     3.052219
25 to 29     2.900990
30 to 34     2.931507
35 to 39     3.601707
40 to 44     3.045000
45 to 49     1.700000
50 and up         NaN
Name: Price, dtype: float64

In [35]:

### Top Spenders

# * Identify the the top 5 spenders in the game by total purchase value, then list (in a table):
vc = purchase_df['SN'].value_counts()
vc
      

#  * SN
#  * Purchase Count
#  * Average Purchase Price
#  * Total Purchase Value

Lisosia93         5
Idastidru52       4
Iral74            4
Lisopela58        3
Phyali88          3
Ialallo29         3
Yathecal82        3
Raesty92          3
Chamjask73        3
Saistyphos30      3
Iskadarya95       3
Tyidaim51         3
Ilarin91          3
Idai61            3
Strithenu87       3
Sondastsda82      3
Rarallo90         3
Zontibe81         3
Asur53            3
Iri67             3
Silaera56         3
Umolrian85        3
Aina42            3
Chamimla85        3
Saedaiphos46      3
Chadolyla44       3
Aelin32           3
Haillyrgue51      3
Inguron55         3
Chanastnya43      3
                 ..
Lisassasta50      1
Lisassasda39      1
Chanirra79        1
Haellysu29        1
Ririp86           1
Frichaststa61     1
Malil90           1
Ermol76           1
Qarirwen82        1
Lisassa64         1
Thourdirra92      1
Irilis75          1
Lisjaskan36       1
Iathem87          1
Mindadaran26      1
Hyaduesu61        1
Frichossala54     1
Chamadar79        1
Tyananurgue44     1
Qilalista41       1
Irith83           1
Syathecal44       1
Tyaelistidru84    1
Assesi91          1
Quanrion96        1
Thrientossa55     1
Ili43             1
Sundista37        1
Raisty38          1
Yalo85            1
Name: SN, Length: 576, dtype: int64

In [ ]:
### Most Popular Items

# * Identify the 5 most popular items by purchase count, then list (in a table):
#  * Item ID
#  * Item Name
#  * Purchase Count
#  * Item Price
#  * Total Purchase Value

In [ ]:
### Most Profitable Items

# * Identify the 5 most profitable items by total purchase value, then list (in a table):
#  * Item ID
#  * Item Name
#  * Purchase Count
#  * Item Price
#  * Total Purchase Value